/*responsive code*/


@media only screen and (min-width:1200px){  }

@media only screen and (max-width:1199.98px) and (min-width:992px){  }

@media only screen and (max-width:991.98px) and (min-width:768px){
    #naz img{width:16%;}
}


@media only screen and (max-width:767.98px) and (min-width:576px){
	#naz img{width:30%;} 
}


@media only screen and (max-width:1199.98px) and (min-width:576px){  }


@media only screen and (max-width:575.98px){

#naz img{width:20%;} 

}


@media only screen and (max-width:575.98px) and (min-width:350px){

#naz img{width:30%;} 


}

